@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search_bar_section {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & {
            form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
            }

            .search_bar {
                width: 26rem;
                height: 3rem;
                padding: 1rem;
                border: 1px solid var(--gray-3);
                border-radius: 1rem 0 0 1rem;
                transition: all ease-in-out 0.4s;
                outline: 0;
            }

            .search_bar:hover {
                padding-left: 1.17rem;
            }
            
            .search_bar:focus {
                border: 1px solid var(--red-1);
                padding-left: 1.17rem;
            }
            
            button {
                width: 4rem;
                height: 3rem;
                padding: .1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 1rem 1rem 0;
                border: none;

                border: 1px solid var(--gray-3);
                border-left: 0px solid var(--gray-3);
                background-color: var(--white-3);

                transition: all ease-in-out 0.4s;
            }

            img {
                width: 2.4rem;
            }

            .categories_slider {
                position: relative;
                width: 80vw;
                /* overflow: hidden; */
                display: flex;
                align-items: center;
                justify-content: center;
                /* margin-top: 2rem;
                margin-bottom: 2rem; */
            }

            .categories_section {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
                overflow-x: auto;
                padding: 2rem;

                & {
                    a {
                        text-decoration: none;
                        font-size: var(--font-sm);
                        font-weight: bold;
                    }
                }
            }

            .categories_section::-webkit-scrollbar {
                display: none;
            }
            
            .category {
                min-width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1.65rem;
                padding: .6rem;
                background-color: var(--white-3);
                border: 1px solid var(--gray-3);
                text-align: center;
                transition: all ease-in-out 0.35s;
            }

            .category:hover {
                transform: scale(1.015);
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
            }

            .slider_button {
                height: 100%;
                position: absolute;
                font-size: 2rem;
                cursor: pointer;
                border: none;
                border-radius: 0;
                background: none;
                z-index: 1;
                transition: all 0.2s ease-in-out;
            }

            .slider_button:hover {
                transform: scale(1.07);
            }

            .slider_button.left {
                left: -1rem;
                background: linear-gradient(90deg, #fff 50%,#00000000 100%);
            }

            .slider_button.right {
                right: -1rem;
                background: linear-gradient(90deg, #00000000 0%, #fff 50%);
            }
        }
    }

    .establishments_section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 1rem;


        & {
            .establishments_list {
                overflow-y: scroll;
            }
            
            .establishment {
                width: 95%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding: .7rem;
                text-align: justify;
                background-color: var(--white-3);
                border: 1px solid var(--gray-3);
                border-radius: 1rem;
                
                & {
                    
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all ease-in-out 0.27s;
                    }
                    
                    a:hover {
                        transform: scale(1.007);
                    }
                    
                    .image_icon {
                        border-radius: .5rem;
                        width: 6rem;
                        height: 6rem;
                        object-fit: cover;
                    }
                    
                    span {
                        font-weight: bold;
                        color: var(--red-2);
                    }
                    
                    .establishment_info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: .3rem;
                        font-size: var(--font-sm);
                    }

                    .open_establishment {
                        justify-self: end;
                        align-self: flex-start;

                        & {
                            i {
                                align-self: flex-start;
                                justify-self: flex-start;
                                font-size: 1.17rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .establishments_map {
        margin: 1rem 0 2rem 2rem;
        border-radius: 1rem;
    }

    .establishments_map, .establishments_list {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        align-items: center;
        width: 50%;
        height: 38rem;
        padding: 1rem 0 1rem 0;
    }
}