@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
    }

    header {
        height: 25rem;
        background: linear-gradient(45deg, #0b1314 0%, #140d0d 40%, #0a0303 60%, #02161a 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 175%;
        background-size: cover;
    }
    
    .header_background_image {
        width: 100%;
        height: 100%;
        
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(9px);
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .establishment_header {
        width: 72rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        transform: translateY(-50%);

        color: var(--gray-1);
        background-color: var(--white-2);
        border: 1px solid var(--gray-3);
        border-radius: 0.5rem;
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
        
        padding: 0 2rem 2rem 2rem;
        

        & {
            .establishment_image {
                background-color: var(--white-1);
                width: 12rem;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            }

            .establishment_info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 1rem;
                gap: .5rem;
                width: 50%;
                font-size: var(--font-sm);
                text-align: justify;

                & {
                    .establishment_title {
                        color: var(--red-1);
                        font-weight: bold;
                    }

                    span {
                        color: var(--red-2);
                        font-weight: bold;
                    }
                }
            }
            
            .not_found {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .action_failed {
        min-width: max-content;
        max-width: 50%;
        margin: 1rem 0 1rem 0;
        padding: .75rem;
        border: 1px solid var(--warning);
        border-radius: .6rem;
        background-color: var(--red-3);
        font-size: var(--font-sm);

        & {
            span {
                font-weight: bold;
            }
        }
    }

    .action_succeed {
        min-width: max-content;
        max-width: 50%;
        margin: 1rem 0 1rem 0;
        padding: .75rem;
        border: 1px solid var(--success);
        border-radius: .6rem;
        background-color: var(--green-2);
        font-size: var(--font-sm);

        & {
            span {
                font-weight: bold;
            }
        }
    }

    .establishment_content {
        transform: translateY(-5rem);
        width: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: var(--gray-1);
    }

    .establishment_services {
        min-width: 50%;
        width: 100%;
        max-height: 40rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1.3rem;

        & {
            .manager_buttons {
                align-self: flex-end;
            }
            .new_service {
                right: 0;
                padding: .6rem;
                height: 3rem;
            }
        }
    }

    .establishment_reserves {
        min-width: 50%;
        max-width: 100%;
        max-height: 40rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1.3rem;
    }

    .reserve {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--white-2);
        border: 1px solid var(--gray-3);
        border-radius: 1rem;
        font-size: var(--font-sm);
    }

    .table {
        display: flex;
        flex-direction: row;
        
        & {
            .table_row {
                display: flex;
                flex-direction: row;
            }

            .table_column {
                display: flex;
                flex-direction: column;
            }

            .table_strong {
                font-weight: bold;
            }

            span {
                padding: .7rem 1rem .1rem .3rem;
                border-bottom: 1px solid var(--gray-3);
            }

            .status_completed {
                color: var(--success);
                font-weight: bold;
            }

            .status_pending {
                color: var(--alert);
                font-weight: bold;
            }

            .status_user_cancellation, .status_establishment_cancellation {
                color: var(--warning);
                font-weight: bold;
            }
        }
    }

    .reserve_buttons {
        
        & {
            form {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
            }

            .reserve_button {
                width: 9rem;
                height: 3rem;
                padding: .6rem;

                & {
                    button {
                        display: flex;
                        flex-direction: row;
                        gap: .3rem;
                    }
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .service, .service_register {
        display: flex;
        flex-direction: column;
        background-color: var(--white-2);
        border: 1px solid var(--gray-3);
        border-radius: 1rem;
        width: 100%;
        padding: 1rem;
        font-size: var(--font-sm);
    }
    
    .week_days {
        margin: 1rem 0 1rem 0;
    }

    .service_register {
        display: none;
        & {
            input[type=time] {
                padding: .6rem;
                border-radius: .5rem;
                background-color: var(--red-3);
                border: none;
                outline: 1px solid var(--red-1);
                font-weight: bold;
                text-align: center;
                transition: all ease-in-out 0.3s;
            }
            
            input[type=time]:hover, input[type=time]:focus {
                color: var(--white-1);
                background-color: var(--red-1);
                outline: 1px solid var(--red-2);
            }

            input[type=time]::-webkit-inner-spin-button,
            input[type=time]::-webkit-calendar-picker-indicator {
                display: none;
            }
            
            .time_button {
                width: 2.5rem;
                height: 2.5rem;
                color: var(--white-1);
                border: none;
            }
        }

        .form_input {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            
            & {
                input {
                    width: 100%;
                    height: 2.5rem;
                    padding: 1rem;
                    margin-top: .3rem;
                    border: none;
                    outline: 1px solid var(--gray-2);
                    border-radius: .5rem;
                    font-size: var(--font-sm);
                    transition: all ease-in-out 0.27s;
                }

                input:hover {
                    padding-left: 1.17rem;
                }
                
                input:focus {
                    outline: 1px solid var(--red-1);
                    padding-left: 1.17rem;
                }
            }
        }

        label, span {
            color: var(--gray-1);
            font-size: var(--font-sm);
            font-weight: bold;
        }

        label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #description_count {
            color: var(--gray-2);
        }

        #limit_exceeded {
            color: var(--red-1);
        }
    }

    
    .service {
        min-height: 18rem;
        overflow: hidden;
        & {
            .service_info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            p {
                text-align: justify;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .next_week {
                margin: 1rem 0 1.5rem 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            .days_slider {
                width: 100%;
                display: flex;
                flex-direction: row;
                transition: all ease-in-out 1.2s;
            }
            
            .available_times {
                margin: 1rem 0 1rem 0;
                min-width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 3rem;
            }

            .submit_button {
                align-self: flex-end;
                width: 6rem;
                height: 3rem;
            }
        }
    }

    input[type=radio], input[type=checkbox] {
        display: none;
    }

    .service_button {
        padding: .6rem;
        border-radius: .5rem;
        border: 1px solid var(--red-2);
        background-color: var(--red-3);
        color: var(--gray-1);
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    
    .service_button:hover {
        background-color: var(--red-1);
        color: var(--white-1);
    }
    
    input[type=radio]:checked + .service_button,
    input[type=checkbox]:checked + .service_button {
        background-color: var(--red-1);
        color: var(--white-1);
    }

    .show {
        display: flex;
    }
}