@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

a {
    color: var(--red-1);
}

:root {
    --logo-size: 8.5rem;

    /* Colors */
    --red-1: #bd3528;
    --red-2: #8C271E;
    --red-3: #f5d8d6;
    --gray-1: #0C1618;
    --gray-2: #4b6268;
    --gray-3: #d4d4d4;
    --white-1: #FFF;
    --white-2: #f0f3f4;
    --white-3: #f5f3f3;
    --green-1: #5cb85c;
    --green-2: #b8e0b8;
    --success: #339900;
    --alert: #EAAA00;
    --warning: #cc3300;

    /* Font sizes */
    --font-xsm: 8pt;
    --font-sm: 10pt;
    --font-md: 12pt;
    --font-lg: 14pt;
    --font-xl: 16pt;
    --font-xxl: 18pt;
}

.not_found {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    position: relative;
    color: var(--gray-3);
    
    & {
        i {
            z-index: -1;
            color: #bfbfbf;
            position: absolute;
            top: 15%;
            left: 3%;
            font-size: 8rem;
        }
    }
}