@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        width: 100%;
        min-height: 59.1rem;
        position: relative;
        background-image: url('../images/header_background_image.jpg');
        background-repeat: no-repeat;
        background-position: center 10%;
        margin-bottom: 5rem;
    }
    
    .header {
        width: 98%;
        position: absolute;
        top: 1.5rem;
        border-radius: 1rem;
    }

    .header_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        padding-right: 3rem;
    }

    .about_us_page {
        display: flex;
        & {
            a {
            color: var(--white-1);
            transition: all ease-in-out 0.2s;
        }

        a:hover {
            transform: scale(1.017);
        }
    }
    }

    .reserve_page {
        width: 14rem;
        height: 80%;
    }

    .account_pages {
        width: 12rem;
        height: 100%;
        color: var(--white-1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        &  {
            .profile_picture {
                width: 2.25rem;
                align-self: flex-end;
                background-color: var(--white-1);
                border: 3px solid var(--white-1);
                border-radius: 50%;
            }
    
            .account_buttons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: .3rem;
            }
    
            a {
                color: var(--white-1);
                transition: all ease-in-out 0.2s;
            }
    
            a:hover {
                transform: scale(1.017);
            }
        }
    }

    .header_slogan {
        align-self: flex-start;
        position: absolute;
        text-align: left;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        text-shadow: 0px 0px 25px var(--gray-1);
        
        & {
            h1 {
                color: var(--white-2);
                font-size: 68pt;
                opacity: 0.9;
            }
        }
    }

    .see_more {
        width: 50%;
        height: 3rem;
    }

    @keyframes jump_effect {
        0% {transform: scale(1);}
        25% {transform: scale(1.13);}
        40% {transform: scale(1.07);}
        60% {transform: scale(1.15);}
        100% {transform: scale(1.13);}
    }
    
    .arrow_down {
        position: absolute;
        top: 54rem;
        opacity: 0.9;
        & {
            img {
                width: 4.3rem;
            }
        }
    }
    
    .arrow_down:hover {
        animation-name: jump_effect;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_us {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-bottom: 5rem;
        
        & {            
            .card_section  {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3rem;
            }

            .card {
                width: 18rem;
                background-color: var(--white-2);
                padding: 1.5rem;
                border-radius: 1rem;
                box-shadow: 0px 10px 20px 0px rgba(20, 13, 13, 0.5);
                text-align: justify;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                
                & {
                    .rounded_card_image {
                        width: 7rem;
                        background-color: var(--white-1);
                        border-radius: 45%;
                        box-shadow: 0px 5px 15px 0px #140d0d;
                    }
                }
            }
        }
    }

    footer {
        height: 15rem;
        margin-top: 5rem;
        background: linear-gradient(45deg, #0b1314 0%, #140d0d 40%, #0a0303 60%, #02161a 100%);
    }

}