@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        margin-bottom: 7rem;
    }
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .action_failed {
        min-width: max-content;
        max-width: 50%;
        margin: 1rem 0 1rem 0;
        padding: .75rem;
        border: 1px solid var(--warning);
        border-radius: .6rem;
        background-color: var(--red-3);
        font-size: var(--font-sm);

        & {
            span {
                font-weight: bold;
            }
        }
    }

    .action_succeed {
        min-width: max-content;
        max-width: 50%;
        margin: 1rem 0 1rem 0;
        padding: .75rem;
        border: 1px solid var(--success);
        border-radius: .6rem;
        background-color: var(--green-2);
        font-size: var(--font-sm);

        & {
            span {
                font-weight: bold;
            }
        }
    }
    
    .main_content {
        display: flex;
        flex-direction: row;
        width: 70rem;
        height: 40rem;
        border: 1px solid var(--gray-3);
        border-radius: 1rem;

        & {
            .aside_buttons {
                width: 15rem;
                border-radius: 1rem 0 0 1rem;
                border-right: 1px solid var(--gray-3);
                height: 100%;
                background-color: var(--white-3);
                
                & {
                    .aside_button {
                        width: 100%;
                        height: 3rem;
                        border-bottom: 1px solid var(--gray-3);
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding-left: 1rem;
                        gap: 1rem;
                        color: var(--gray-1);
                        transition: all ease-in-out 0.3s;
                        text-decoration: none;
                        
                        & {
                            i {
                                font-size: 1.3rem;
                            }
                        }
                    }

                    .aside_button:first-child {
                        border-radius: 1rem 0 0 0;
                    }
                    
                    .aside_button:hover {
                        background-color: var(--gray-3);
                    }
                }
            }

            .informations {
                width: 100%;
                height: 100%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                overflow-y: auto;
            }

            .account {
                display: flex;
                flex-direction: column;
                gap: 3rem;
            }

            img {
                width: 8rem;
                border-radius: 45%;
            }
            
            .table {
                display: flex;
                flex-direction: row;
                
                & {
                    .table_row {
                        display: flex;
                        flex-direction: row;
                    }

                    .table_column {
                        display: flex;
                        flex-direction: column;
                    }
                    .table_strong {
                        font-weight: bold;
                    }
                    span {
                        padding: .7rem 1rem .1rem .3rem;
                        border-bottom: 1px solid var(--gray-3);
                    }

                    .status_completed {
                        color: var(--success);
                        font-weight: bold;
                    }
        
                    .status_pending {
                        color: var(--alert);
                        font-weight: bold;
                    }
        
                    .status_user_cancellation, .status_establishment_cancellation {
                        color: var(--warning);
                        font-weight: bold;
                    }
                }
            }

            .reserve {
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                background-color: var(--white-2);
                border: 1px solid var(--gray-3);
                border-radius: 1rem;
                font-size: var(--font-sm);
            }

            .reserve_buttons {
        
                & {
                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 1.3rem;
                    }
        
                    .reserve_button {
                        width: 9rem;
                        height: 3rem;
                        padding: .6rem;
        
                        & {
                            button {
                                display: flex;
                                flex-direction: row;
                                gap: .3rem;
                            }
                            i {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .establishments {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            
            .establishments_list {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                height: 100%;
                overflow-y: scroll;
            }
            
            .establishment {
                width: 95%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding: .7rem;
                text-align: justify;
                background-color: var(--white-3);
                border: 1px solid var(--gray-3);
                border-radius: 1rem;
                
                & {
                    img {
                        border-radius: .5rem;
                    }
                    
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all ease-in-out 0.27s;
                    }
                    
                    a:hover {
                        transform: scale(1.007);
                    }
                    
                    .image_icon {
                        width: 6rem;
                        height: 6rem;
                        object-fit: cover;
                    }
                    
                    span {
                        font-weight: bold;
                        color: var(--red-2);
                    }
                    
                    .establishment_info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: .3rem;

                        font-size: var(--font-sm);
                    }

                    .open_establishment {
                        justify-self: end;
                        align-self: flex-start;

                        & {
                            i {
                                align-self: flex-start;
                                justify-self: flex-start;
                                font-size: 1.17rem;
                            }
                        }
                    }
                }
            }
        }
    }
}