@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .register_section {
        width: 27rem;

        & {
            .register_form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                
                & {
                    h1 {
                        font-size: var(--font-xxl);
                        margin-bottom: 1rem;
                    }

                    form {
                        width: 100%;
                    }
                }
            }
        }
    }

    header {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & {
            .go_back {
                margin-top: 1.5rem;
            }

            .go_back_image {
                transform: translateY(-0.1rem);
                min-width: 1.3rem;
                max-width: 1.3rem;
            }
        }
    }
}