@import url('global.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4.2rem;
        background: linear-gradient(45deg, #0b1314 0%, #140d0d 40%, #0a0303 60%, #02161a 100%);
        /* background: linear-gradient(45deg, #f2fdff 0%, #ffffff 40%, #fff8f8 50%, #ffffff 60%, #f2fdff 100%); */
        box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.75);
    }

    .logo {
        width: 26rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    
    .logo_image {
        min-width: var(--logo-size);
        max-width: var(--logo-size);
        transition: all ease-in-out 0.45s;
    }

    .logo_image:hover {
        transform: scale(1.02);
    }

    .header_buttons {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        padding-right: 3rem;
        font-size: var(--font-sm);
        font-weight: bold;

        & {
            .header_button {
                display: flex;
                width: 10rem;
            }
            
            a {
                color: var(--white-1);
                transition: all ease-in-out 0.2s;
            }

            a:hover {
                transform: scale(1.01);
            }
        }
    }
    
    .account_pages {
        width: 10rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        color: var(--white-1);

        &  {
            .profile_picture {
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.7rem;
                color: var(--gray-1);
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                background-color: var(--white-1);
                border-radius: 50%;
            }
    
            .account_buttons {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: .3rem;
            }
    
            a {
                color: var(--white-1);
                transition: all ease-in-out 0.2s;
            }
    
            a:hover {
                transform: scale(1.017);
            }
        }
    }
}